@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

/* declaração de variáveis */
:root {
    --dark: #2A2730;
    --medium: #333144;
    --light: #827397;
    --highlights: #D8B9C3;
    --text: #EDDEE3;
    --link: #cc7bc5;
}
 
/* zerando css */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: var(--medium);
}

body, button, input, select, textarea {
    font-family: 'Courier Prime', monospace;
    color: var(--text);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 24px;
}

h1, h2 {
    margin: 0;
    font-weight: 400;
}

button {
    background-color: var(--light);
    border-width: 0;
    border-radius: 25px;
    padding: 8px 25px;
    font-weight: bold;
    font-size: 24px;
    border-width: 0 0 5px 0;
    border-color: hsl(265, 15%, 22%);
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
    margin: 5px;
    width: 325px;
}

button:active {
    transform: translateY(4px);
    border-color: var(--medium);
    background-color: hsl(265, 15%, 42%);
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

header {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

header .container img {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: var(--dark);
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav svg {
    position: relative;
    top: 5px;
    margin: 0;
    height: 35px;
    width: 35px;
    color: var(--highlights)
}

nav img {
    height: 60px;
}

nav ul a {
    position: relative;
    bottom: 5px;
    margin-left: 55px;
    margin-right: 55px;
    color: var(--link);
    font-size: 32px;
}

@media(max-width:767px) {
    header .container {
        width: 100%;
    }
    header .container img {
        display: inline;
        height: 60px;
        margin-bottom: 20px;
    }
    nav img {
        display: none;
    }
}

@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }

    nav {
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 35px 0;
    }

    nav ul a {
        padding: 0;
        margin: 0px;
        font-size: 14px;
    }

    nav svg {
        height: 15px;
        width: 15px;
        top: -1px;
    }
}

section {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

section .sobre {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}